/* 1.0 General */
html{font-size: 16px;}
body{font-size: 1.25rem;}


/* 1.1 Clear Fix */
.cf{overflow:auto;}
.cf::after {
  content: "";
  clear: both;
  display: table;
}


/* 2.0 Controls and links */
.btn{
    color:#fff;
    font-size: 1.25rem;
}
.btn:hover{
    background-color: #fff;
    color: #313030;
}
.load.control{
    margin-bottom: 20px;
}
#formLocation{
    width:calc(100% - 160px);
float: left;
margin: 2px 20px 0 0;}

article.panel .btn{
    background-color: #313030; 
    border: 1px solid #313030;
}
article.panel .btn:hover{ background-color: #fff;}
/* 3.0 Tables */
thead{background-color: #313030;}
thead th{
    color: #fff;
    font-size: 1.5rem;
    padding: 5px;
    width: 300px;
}
tbody{border: 1px solid #ccc;}
tbody tr:nth-child(even) {background: #ccc;}

/* 4.0 Navagation */

#mobile{width: 100%; }
#mobileMenu{width: 100%;padding: 10px 0 ;}
#mobileMenu i{
    color: #fff;
    margin-left: 45%;
    font-size: 2rem;}


nav.PC{
    width: 620px;
    margin: 0 auto;}

nav.mobile{ width: 100%;}

nav.mobile .tab{
    color: #fff;
    font-size: 1.75rem;
    border-top: 1px solid #fff;
    padding-left: 10px;
}
/* 5.0 Layout */


/* 5.1 Panels */
article.panel{
    padding: 10px;
}

/* 5.1.1 Help article */

article.helpArticle{
    margin-bottom: 20px;
}
article.helpArticle header.title{
    background-color: #313030;
    color:#fff;
    padding: 5px;
    font-size: 1.5rem;
}
article.helpArticle section.content{
    padding: 5px;
    border: 1px solid #313030;
}

/* 5.1.1 App */
#App iframe{
    width: calc(100vw - 20px);
    max-width: 600px;
    height: 430px;
}

/* 6.0 Branding */

header.root{
    background: #313030;
    padding: 0px;
}
div.nav.wrapper{
    width: 100%;
    background: #20409a;
    margin-top: 20px;
}
#PC.nav {
    padding: 10px;
}

/* 6.1 Logo */

#logo{
    padding:10px;
    display: block;
    margin: auto;
    max-height: 150px;
}
#logo g path{
    fill: #fff;
}

#Docs{
    float: left; 
    width: 100%; 
}
#Docs header.controls{margin-bottom: 20px;}
#Docs .list{
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
#Docs iframe{
    width: 100%;
    height: 600px;
}
#Docs .view ul{ margin: 0; padding: 0px;}
#Docs .list .btn{
    float: right;
    margin-left: 10px;
}

#Docs .doc{
    margin: 0 0 10px 0;
    padding: 5px;
    width: 100%;
    overflow: visible;
}

#Docs .doc .title{
    width: 300px;
    float: left;
}
