* ekim55@student.umgc.edu ccrickette@student.umgc.edu tbarton7@student.umgc.edu swilliams538@student.umgc.edu nbsockem@student.umgc.edu acedeno2@student.umgc.edu akamara35@student.umgc.edu geoffrey.a.dean@gmail.com s.soheil@gmail.com
