{
	"Db": {
		"Host": "localhost",
		"User": "maintcall",
		"Password": "vEryst0ng-paS5swordheR3",
		"Database":  "maintcall"
    },
    "API": {
		"Host": "localhost",
		"User": "test",
		"Password": "test",
		"Database":  "maintcall"
	},
	"Listen": {
		"Address": "*",
		"Port": "8000"
	},
	"OutboundCall": {
		"CallerID": "\"HT MAINTENANCE\" <+12483522010>",
		"Retries": 3,
		"SpoolPath": "/var/spool/asterisk/outgoing/"
	},
	"VmRoot": "/var/spool/asterisk/voicemail/default/"
}